/* media query */
@media screen and (max-width: 710px) {
    .content, aside, .slider  {
        width: 100%;
    }
   
}

@media screen and (max-width: 480px) {
    .title h1 {
        font-size: 25px;
        letter-spacing: 20px;
    }
    .title h3{
        font-size: 14px;
        word-spacing: 5px;
        letter-spacing: 1px;
    }

    nav{
        text-align: left;
    }

    .sidebar {
        display: block;
    }
    .navigate .menu{
        display: block;
        position: absolute;
        width: 100%;
        left: -500px;
        transition: all 0.2s linear ;
    }
    nav ul{
        flex-direction: column;
    }
    

    #check-one:checked ~ .menu{
        left: 0;
    }

    #check-one:checked ~ .sidebar #open{
        display: none;
    }

    #check-one:checked ~ .sidebar #close{
        display: block;
        float: left;
        width: 16px;
    }

    #check-two:checked ~.menu .submenu{
        background-color: #AAD8D3;
        color: black;
    }

    #check-two:checked ~.menu .submenu .subsmenu {
        display: block;
        color: black;
    }
    #check-two:checked ~.menu .submenu .subsmenu .drop-down{
        width: 100%;
    }

    #check-two:checked ~.menu .submenu .fa-angle-down{
        display: none;
    }

    #check-two:checked ~.menu .submenu .fa-angle-up{
        display: inline;
    }


    
    @media (hover:none){
        nav ul li:active{
            background-color: #AAD8D3;
            color: black;
            cursor: pointer;
        }

        nav ul .submenu:active >.subsmenu .drop-down li:active{
            background-color: #00ADB5;
        }

        footer ul li:active{
            background-color: #00ADB5;
        }
    }

    nav ul li{
        text-align: left;
    }

    .content article {
        line-height: 35px;
    }

    .content, aside, .slider  {
        width: 100%;
    }
   
}
