/* media query */
@media screen and (max-width: 710px) {
    .content, aside  {
        width: 100%;
    }
   
}

@media all and (max-width: 480px) {
    .title h1 {
        font-size: 25px;
        letter-spacing: 20px;
    }
    .title h3{
        font-size: 16px;
        word-spacing: 5px;
        letter-spacing: 2px;
    }

    nav{
        text-align: left;
    }

    .sidebar {
        display: block;
    }
    .navigate .menu{
        display: block;
        position: absolute;
        width: 100%;
        left: -500px;
        transition: all 0.2s linear ;
    }
    nav ul{
        flex-direction: column;
    }

    #check:checked ~ .menu{
        left: 0;
    }

    #check:checked ~ .sidebar #open{
        display: none;
    }

    #check:checked ~ .sidebar #close{
        display: block;
        float: left;
        width: 16px;
    }


    nav ul li{
        text-align: left;
    }

    .content, aside  {
        width: 100%;
    }
   
}
