
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*css reset */

/* top */
*{
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: inherit;
}

body{
    padding: 0;
    font-size: 18px;
    background-color:#EEEEEE;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
}
p{
    font-family: 'Quicksand', sans-serif;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
 }

.card:hover{
    box-shadow: 0 0 8px 1px #00ADB5;
}

 .homeCard{
    border-radius: 5px;
}

header{
    width: 100%;
    display: inline;
    color: #EEEEEE;
}

header .title{
    text-align: center;
    background-image: url(assets/endless-clouds.png);
    background-color:  #393E46;
    border-bottom: 3px solid rgba(15, 7, 27, 0.7);
    padding: 30px 0;
}
.title h1 {
    font-size: 55px;
    letter-spacing: 25px;
}
.title h3{
    margin-top: 10px;
    word-spacing: 7px;
    letter-spacing: 4px;
}

nav{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
}
nav ul{
    background-color: #00ADB5;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav ul li{
    font-size: 18px;
    text-align: center;
    padding: 20px 20px;
}

@media (hover:hover){
    nav ul li:hover{
        background-color: #AAD8D3;
        color: black;
        cursor: pointer;
    }
    nav ul .submenu:hover >.subsmenu {
        display: block;
    }
    nav ul .submenu:hover >.subsmenu .drop-down li:hover{
        background-color: #00ADB5;
    }
}

.submenu .subsmenu{
    display: none;
}
.drop-down{
    display: block;
    position: absolute;
    top: 100%;
    margin-left: -20px;
    background-color:#AAD8D3 ;
    border-radius: 0;
    cursor: pointer;
}

.drop-down li{
    width: 100%;
    padding:20px;
    font-size: 16px;
}



.submenu .fa-angle-up{
    display: none;
}

.sidebar{
    padding: 10px;
    text-align: center;
    background-color: #00ADB5;
    display: none;
}
.sidebar #open{
    display: block;
    float: left;
    width: 16px;
}
.sidebar #close{
    display: none;
}

#check-one, #check-two{
    display: none;
}



/* mid */
main{
    max-width: 1110px;
    margin-right:  auto;
    margin-left: auto;
    margin-top: 30px;
    padding: 0 25px;

}

main h1{
    font-size: 50px;
    text-shadow: 2px 2px #00ADB5;
    
}

.slider{
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    margin: 15px 0;
}
.slider input{
    display: none;
}
.images {
    width: 300%;
    height: auto;
    display: flex;
}

.images .image{
    position: relative;
    width: 100%;
    margin: 0 5px;
    transition: 1s;
}
.images .image img{
    max-width: 480px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.slide-manual{
    width: 100%;
    display: flex;
    justify-content: center;
}


.slide-manual .manual-btn{
    margin: 5px 0;
    padding: 5px;
    border: 2px solid #00ADB5;
    border-radius: 10px;
    cursor: pointer;
}

.slide-manual .manual-btn:hover{
    background-color: #AAD8D3;
}

.slide-manual .manual-btn:not(:last-child){
    margin-right: 30px;
}

#rad1:checked ~ .images .image{
    left: 0;
}
  
#rad2:checked ~ .images .image{
    left: -33.33%;
}
  
#rad3:checked ~ .images .image{
    left: -66.66%;
}

#rad1:checked ~ .slide-manual .one{
    background-color: #AAD8D3;
}
#rad2:checked ~ .slide-manual .two{
    background-color: #AAD8D3;
}
#rad3:checked ~ .slide-manual .three{
    background-color: #AAD8D3;
}

h2 {
    font-size: 22px;
    color:#00ADB5 ;
}

.content{
    width: 70%;
    float: left;
    padding: 0 ;
}

.content, aside{
    margin:15px 0 ;
}

.content article{
    line-height: 40px;
    text-align: justify;
    padding: 15px;
    margin-bottom: 15px;
    
}

aside {
    width: 25%;
    float: right;
    line-height: 40px;
    text-align: center;
    padding: 15px;
}

aside .profilePhoto{
    width: 80%;
    margin: 10px auto;
    display: block;
}

aside .profilePhoto img{
    max-width: 120px;
    width: 100%;
}

.biodata {
    line-height: 20px;
    font-size: 14px;
    text-align: left;
    margin: 0 auto;
}
.biodata td{
    padding: 2px;
}

/* bottom */
footer {
    background-color: #393E46;
    background-image: url(assets/endless-clouds-rotated.png);
    color: #EEEEEE;
    padding-bottom: 20px;
    text-align: center;
    line-height: 25px;
    font-size: 14px;
}
footer #cpr{
    padding: 5px;
    background-color: #00ADB5;
    border-bottom: 3px solid rgb(15, 7, 27);
}

footer ul{
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer ul li{
    padding: 3px;
    font-size: 13px;
    text-align: center;
    margin: 0 10px;
    border: 1px solid;
    border-radius: 5px;
}

footer ul li:hover{
    background-color: #00ADB5;
}


/* 
clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}